{% extends 'dogs/base.html' %}
{% block title %}{{ dog }}{% endblock %}
{% block dogs_active%}active{% endblock %}

{% block body %}
    <div class="container-fluid photo-container">

        <div class="row">
            
            <!-- Left Dog Info -->
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>{{ dog.name }}</h2>
                        <h4>{{ dog.sex }}</h4>
                        <h4>{{ dog.colors }}</h4>
                        <h4>{{ dog.day_in }}</h4>
                    </div>
                </div>
            </div>

             <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">
            <div class="col-sm-8 col-md-9">
                <div class="panel panel-default">
                    {% for photo in dog.photo_set.all %}
                        <center><img src="{{ photo.image_file.large.url }}" class="img-responsive"></center>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}
    
                            
