body{
    background: white url("images/background.png");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}

.navbar-inner {
    background: #2b2b2b;
    background-image: none;
    background-repeat: repeat-x;
    border-color: none;
    filter: none;
}

#wall_img{
    width: 180px;
    height: 120px;
    object-fit: scale-down;
}